<div class="container-fluid mt-1">
  <div style="padding: 8px 20px 8px 20px" class="row">
    <div class="col-md-6">
      <span class="text-secondary">GERENCIAR CONTATOS</span>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <span class="span-user"> <fa-icon [icon]="faUser" size="sm"></fa-icon> {{nomeUser}}</span>
      <span class="span-sair" (click)="fnDeslogar()"> <fa-icon [icon]="faDoorOpen"></fa-icon> </span>
    </div>
  </div>
  <div class="header-page">
    <div class="row">
      <div class="col-md-6">
        <h4>Gerenciar Contatos</h4>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button
          [ngClass]="{'btn-outline-primary': showFilter == false, 'btn-outline-danger': showFilter == true}"
          class="btn btn-sm"
          type="button"
          style="margin-right: 5px"
          (click)="showFilter = !showFilter"
        >
          <fa-icon *ngIf="!showFilter" [icon]="faFilter" size="sm"></fa-icon>
          <fa-icon *ngIf="showFilter" [icon]="faTimes" size="sm"></fa-icon>
        </button>

        <button
          class="btn btn-sm btn-outline-primary"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modalContatosEGrupo"
          (click)="fnResetFormContato()"
        >
          <fa-icon [icon]="faPlus" size="sm"></fa-icon>
        </button>
      </div>
    </div>
    <form [formGroup]="formFilter">
      <div class="row" *ngIf="showFilter">
        <div class="col-md-4">
          <label>Status</label>
          <select
            formControlName="slctStatus"
            class="form-select form-select-sm"
            aria-label="Small select example"
          >
            <option value="99">Todos</option>
            <option value="1">Ativos</option>
            <option value="0">Inativos</option>
          </select>
        </div>
        <div class="col-md-6">
          <label>Buscar</label>
          <input
            formControlName="iptBuscar"
            placeholder="Buscar por nome do contato, email e celular"
            class="form-control form-control-sm"
            type="text"
          />
        </div>
        <div class="col-md-2 mt-4">
          <button
            class="btn btn-sm btn-outline-primary d-block w-100"
            type="button"
            (click)="fnGetContatos()"
          >
            <fa-icon [icon]="faFilter" size="sm"></fa-icon>
            Filtrar
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row container-fluid mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <span>{{listContatos.length}}</span>
          <hr />
          <span>Total</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-ativos">
        <div class="card-body">
          <span>{{totalAtivos}}</span>
          <hr />
          <span>Ativo</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-inativos">
        <div class="card-body">
          <span>{{totalInativos}}</span>
          <hr />
          <span>Inativo</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <app-loading-inline
        *ngIf="loadingInline"
        msgLoading="Buscando contatos, aguarde..."
      ></app-loading-inline>

      <div class="d-flex justify-content-end" *ngIf="!loadingInline">
        <ngb-pagination
          [collectionSize]="listContatos.length"
          [(page)]="page"
          [pageSize]="pageSize"
          [maxSize]="5"
          size="sm"
          aria-label="Default pagination"
        ></ngb-pagination>
      </div>
      <div class="responsive-table" *ngIf="!loadingInline">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th
                *ngFor="let item of listHeader"
                (click)="sort(item.prop, item.toggle = !item.toggle)"
                title="Ordenar por: {{item.label}}"
              >
                {{item.label}}
                <fa-icon
                  *ngIf="item.toggle == false"
                  class="ml-2"
                  [icon]="faArrowUpWideShort"
                  size="sm"
                ></fa-icon>
                <fa-icon
                  *ngIf="item.toggle == true"
                  class="ml-2"
                  [icon]="faArrowDownWideShort"
                  size="sm"
                ></fa-icon>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of listContatos | slice: (page-1) * pageSize : page * pageSize"
            >
              <td>{{item.id}}</td>
              <td>{{item.ds_contato}}</td>
              <td>{{item.ds_email}}</td>
              <td>
                <span>{{item.nr_celular | mask: '(00) 00000-0000'}}</span>
              </td>
              <td>
                <span
                  [ngClass]="{'status-ativo': item.st_ativo == true, 'status-inativo': item.st_ativo == false}"
                  class="span-status"
                >
                  {{item.st_ativo | statusPipe}}
                </span>
              </td>
              <td class="text-center">
                <button
                  class="btn btn-sm btn-outline-primary d-block w-100"
                  type="button"
                  (click)="fnGetDadosContato(item)"
                  data-bs-toggle="modal"
                  data-bs-target="#modalContatosEGrupo"
                  title="Ver contato: {{item.ds_contato}}"
                >
                  <fa-icon [icon]="faList" size="sm"></fa-icon>
                </button>

               
              </td>
            </tr>
            <tr *ngIf="listContatos.lenght <= 0">
              <td class="text-center" colspan="6">
                <span class="text-secondary">Nenhum contato encontrado!</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--MODAL CONTATOS E GRUPOS-->
<div
  class="modal fade"
  id="modalContatosEGrupo"
  tabindex="-1"
  aria-labelledby="modalContatosEGrupoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalContatosEGrupoLabel">
          Contatos e Grupos
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formContatoGrupos">
          <div class="opcoes-menu">
            <span
              [ngClass]="{'menu-ativo': validMenuContatoGrupo == false}"
              (click)="validMenuContatoGrupo = false"
              >Contato</span
            >
            <span
              [ngClass]="{'menu-ativo': validMenuContatoGrupo == true}"
              (click)="validMenuContatoGrupo = true"
              >Grupo</span
            >
          </div>

          <div *ngIf="!validMenuContatoGrupo" class="row mt-3">
            <input formControlName="idContato" class="d-none" type="number" />

            <div class="col-md-6">
              <label>Nome Completo</label>
              <input
                [ngClass]="{'input-invalid': formContatoGrupos.controls['iptNomeContato'].invalid}"
                formControlName="iptNomeContato"
                class="form-control form-control-sm"
                type="text"
              />
            </div>
            <div class="col-md-3">
              <label>E-mail</label>
              <input
                [ngClass]="{'input-invalid': formContatoGrupos.controls['iptEmailContato'].invalid}"
                formControlName="iptEmailContato"
                class="form-control form-control-sm"
                type="email"
              />
            </div>
            <div class="col-md-3">
              <label>Celular</label>
              <input
                [ngClass]="{'input-invalid': formContatoGrupos.controls['iptCelularContato'].invalid}"
                formControlName="iptCelularContato"
                class="form-control form-control-sm"
                mask="(00) 00000-0000"
                type="text"
              />
            </div>
            <div class="col-md-12 mt-2">
              <div class="form-check form-switch">
                <input
                  formControlName="checkStatusContato"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked"
                  >Status</label
                >
              </div>
            </div>
          </div>

          <div class="div-total-grupos mt-3" *ngIf="validMenuContatoGrupo">
            <div class="div-limit-grupos">

              <div class="input-group mt-1">
                <input formControlName="iptBuscaGrupos" type="text" class="form-control form-control-sm" placeholder="Buscar grupo por nome" aria-label="Buscar grupo por nome" aria-describedby="button-addon2">
                <button class="btn btn-sm btn-outline-primary" type="button" id="button-addon2" (click)="fnFiltraListaGrupos()">Buscar</button>
              </div>


              <div *ngFor="let item of listGrupos; let i = index">
                <div
                  *ngIf="item.showGrupo == true"
                  class="grupos"
                  (click)="fnInserirGrupoContato(item, i)"
                  title="Incluir grupo para contato."
                >
                  <span>{{item.dsGrupocontato}}</span>
                  <fa-icon
                    style="float: right"
                    [icon]="faChevronRight"
                    size="sm"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div
              class="justify-content-center align-self-center"
              style="padding: 0px 8px 0px 8px"
            >
              <button
                type="button"
                class="btn btn-sm btn-success"
                (click)="fnInserirTodos()"
                title="Inserir todos os grupos para o contato."
              >
                <fa-icon [icon]="faAnglesRight"></fa-icon>
              </button>
              <br />
              <button
                type="button"
                class="btn btn-sm btn-success mt-3"
                title="Retirar todos os grupos do contato."
                (click)="fnRetirarTodosGrupos()"
              >
                <fa-icon [icon]="faAnglesLeft"></fa-icon>
              </button>
            </div>
            <div class="div-limit-grupos">

              <div class="input-group mt-1">
                <input formControlName="iptBuscaGruposContatos" type="text" class="form-control form-control-sm" placeholder="Buscar grupo por nome" aria-label="Buscar grupo por nome" aria-describedby="buscaGrupo">
                <button class="btn btn-sm btn-outline-primary" type="button" id="buscaGrupo" (click)="fnFiltraListaGruposContato()">Buscar</button>
              </div>


              <div
                *ngFor="let item of listGruposContato; let i = index"
                class="grupos"
                title="Retirar grupo do contato."
                (click)="fnRetirarGrupodeContato(item, i)"
              >
                <fa-icon [icon]="faChevronLeft" size="sm"></fa-icon>
                <span style="float: right">{{item.ds_grupocontato}}</span>
              </div>

              <div *ngIf="listGruposContato.length <= 0">
                <span class="text-center text-secondary"
                  >Contato não está em nenhum grupo!</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="!loadingInlineSalvar"
          type="button"
          class="btn btn-sm btn-outline-success"
          (click)="fnSalvaContato()"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
          Criar
        </button>

        <app-loading-inline
          *ngIf="loadingInlineSalvar"
          msgLoading="Enviando dados do contato e grupos, aguarde..."
        ></app-loading-inline>
      </div>
    </div>
  </div>
</div>

<!-- data-bs-dismiss="modal"-->
